@model DE_GamesCatalog.Models.GameItemModel

@{
    ViewData["Title"] = Model.name;
}

<h1>@Model.name - View Details</h1>

<div>
    <h4>Game Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gameplayDensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameplayDensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RNGDensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RNGDensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.glitchesAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.glitchesAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valueForMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valueForMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.twitchDirectoryURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.twitchDirectoryURL)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", routeValues: new { name = Model.name }) |
    @Html.ActionLink("Delete", "Delete", routeValues: new { id = Model._id }) |
    <a href="/games">Back to List</a>
</div>
