@model IEnumerable<DE_GamesCatalog.Models.GameItemModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container px-3">
    <div class="row row-cols-3 g-2 g-lg-3">
        @foreach (var item in Model)
        {
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.genre</p>
                </div>
                <img src="@item.imageURL" class="card-img" alt="Game cover image for @item.name">
                <div class="card-body">
                    <p class="card-text">@item.shortDescription</p>
                </div>
                <div class="card-body">
                    <!-- keep section for details page? -->
                    <p class="card-text ">@Html.DisplayNameFor(model => model.gameplayDensity)</p>
                    <p class="card-text ">@Html.DisplayFor(model => item.gameplayDensity)</p>
                    <p class="card-text ">@Html.DisplayNameFor(model => model.RNGDensity)</p>
                    <p class="card-text ">@Html.DisplayFor(model => item.RNGDensity)</p>
                    <p class="card-text ">@Html.DisplayNameFor(model => model.glitchesAmount)</p>
                    <p class="card-text ">@Html.DisplayFor(model => item.glitchesAmount)</p>
                    <p class="card-text ">@Html.DisplayNameFor(model => model.valueForMoney)</p>
                    <p class="card-text ">@Html.DisplayFor(model => item.valueForMoney)</p>
                </div>
                <div class="card-footer">
                    <a href="@item.twitchDirectoryURL" class="card-link">Link to game directory</a>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", routeValues: new { name = item.name }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </div>
            </div>
        </div>
        }
    </div>
</div>

