<!-- This IS NOT and SHOULD NOT be a Razor Page. It is not easy to be certain about that, however.
     Ultimately, the deciding factor is that this project was started from an ASP.NET Core MVC template.
     Just witness how confusing the juggle with terms is though:
     https://learn.microsoft.com/en-us/dotnet/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc
     https://learn.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-7.0 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/lib/kartik-v-bootstrap-star-rating-6f8575f/css/star-rating.min.css" />
    <link rel="stylesheet" href="~/lib/kartik-v-bootstrap-star-rating-6f8575f/themes/krajee-svg/theme.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/kartik-v-bootstrap-star-rating-6f8575f/js/star-rating.min.js"></script>
    <script src="~/lib/kartik-v-bootstrap-star-rating-6f8575f/themes/krajee-svg/theme.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- If a "@@ Scripts { }" section is attached to a child page (mounted to RenderBody),
         it gets inserted here. If not, nothing happens. -->
</body>
</html>
